@import "tailwindcss";

:root {
  --base--font--size--10: 10px;
  --base--font--size--12: 12px;
  --base--font--size--13: 13px;
  --base--font--size--14: 14px;
  --base--font--size--15: 15px;
  --base--font--size--16: 16px;
  --base--font--size--18: 18px;
  --base--font--size--20: 20px;
  --base--font--size--22: 22px;
  --base--font--size--24: 24px;
  --scale-factor: 1;
}

html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: calc(var(--base--font--size--16) * var(--scale-factor));
}

:root:root {
  --van-action-sheet-cancel-text-color: var(--text-primary-color);
  --van-base-font: Inter;
  --van-dialog-radius: 8px;
  --van-dialog-width: 268px;
}

.repeat-file-operate-list {
  .operate-item {
    cursor: context-menu;
    padding: 12px 18px;
    color: var(--text-secondary-color);
    border-radius: 6px;

    &.active {
      background: #fff;
      color: var(--text-primary-color);
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.van-floating-bubble {
  background: none;
}

.table-header-row {
  th {
    padding: 5px 0;

    .cell {
      user-select: none;
      font-weight: normal;

      .caret-wrapper {
        display: none;
      }
    }
  }
}

.pc-ElMessageBox {
  border-radius: 24px;
  padding: 25px 25px var(--el-messagebox-padding-primary);

  .el-message-box__container {
    padding: 12px;
    padding-bottom: 30px;
  }

  .el-message-box__title {
    font-size: calc(var(--base--font--size--16) * var(--scale-factor));
    color: var(--text-primary-color);
    font-weight: bold;
  }

  .el-message-box__message p {
    font-size: calc(var(--base--font--size--14) * var(--scale-factor));
    color: var(--text-primary-color);
  }

  .el-message-box__btns {
    justify-content: center;
    border-top: 1px solid var(--divider-color);
    gap: 16px;

    .el-button {
      padding: 9px 44px;
    }

    .btn-custom-cancel,
    .btn-custom-cancel:hover,
    .btn-custom-cancel:focus,
    .btn-custom-cancel:active {
      min-height: 41px;
      border-radius: 10px;
      --el-button-text-color: var(--text-primary-color);
      --el-button-bg-color: transparent;
      background: transparent;
      border: 1px solid var(--border-color);
    }

    .el-button--primary,
    .el-button--primary:hover,
    .el-button--primary:focus,
    .el-button--primary:active {
      min-height: 41px;
      border-radius: 10px;
      color: var(--btn-text-white-color);
      background-color: var(--theme-color);
      border-color: var(--theme-color);
    }
  }

  .el-message-box__status {
    display: none;
  }
}
